

.writeup {
  font-size: 13px;
  font-family: Work Sans;
  text-align: justify;
  letter-spacing: 1px;
}

.nameplate1 {
  background: url('https://i.imgur.com/LrWLfUK.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nameplate2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 29px;
  min-height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Serif Old Uyghur', serif;
  color: #000;
    background-color: #4c2c60;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(83,47,110,26) 1px 1px 1px;}
